{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">

    <title>{% block title %}{% endblock %} | Grupo 7</title>
</head>
<body>
    <nav class="py-6 px-6 flex justify-between items-center bg-danger">
        <a href="{% url 'home' %}" class="text-xl font-semibold" id="grupo7">Life Indie</a>
        <div class="space-x-6">
            <!--
            <a href="#" class="text-lg font-semibold hover:text-gray-500">Nuevo Post</a>
            <a href="#" class="text-lg font-semibold hover:text-gray-500">Buscar</a>
            -->
            {% if request.user.is_authenticated %}
                <a href="#" class="px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Inbox</a>
                <a href="{% url 'logout' %}" class="px-6 py-3 text-lg font-semibold bg-gray-500 text-white rounded-xl hover:bg-gray-700">Cerrar Sesion</a>
            {% else %}
                <a href="{% url 'signup' %}" class="px-6 py-3 text-lg font-semibold bg-rose-600 text-white rounded-xl hover:bg-rose-800">Registrarse</a>
                <a href="{% url 'login' %}" class="px-6 py-3 text-lg font-semibold bg-gray-500 text-white rounded-xl hover:bg-gray-700">Iniciar Sesion</a>
            {% endif %}
        </div>
    </nav>
    
    <div class="py-6 px-6">
        {% block content %}
        {% endblock %}
    </div>
    
</body>
</html>