{% extends 'base.html' %}

{% block title %} {{post.nombre}}{% endblock %}

{% block content %}
<div class="grid grid-cols-5 gap-6">
    <div class="col-span-3">
        <img src="{{media}}" class="rounded-xl" alt="">
    </div>
    <div class="col-span-2 p-6 bg-gray-100 rounded-xl">
        <h1 class="mb-6 text-3xl">{{post.nombre}}</h1>
        <p class="text-gray-500"><strong>Subtitulo </strong>{{post.subtitulo}}</p>
        <p class="text-gray-500"><strong>Autor: </strong>{{post.autor}}</p>
        
        {% if request.user == item.autor %}
            <div class="mt-6 p-6 bg-white rounded-xl">
                <p>Este es tu post</p>
                <a href="{% url 'editar' post.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Editar</a>
                <a href="{% url 'elimnar' post.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-red-500 text-white rounded-xl hover:bg-red-700">Elimiar</a>
            </div>
        {% endif %}
    </div>
</div>
<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl text-center">Posts Relacionados</h2>
    <div class="grid grid-cols-3 gap-3">
        {% for post in posts_relacionados %}
        <div>
            <a href="{% url 'detalle' post.id %}">
                <div>
                    <img src="{{media}}" class="rounded-t-xl" alt="">
                </div>
                <div class="p-6 bg-white rounded-b-xl">
                    <h2 class="text-2xl">{{post.nombre}}</h2>
                    <p class="text-gray-500">Subtitulo {{post.subtitulo}}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}