{% extends 'base.html' %}

{% block title %}Iniciar Sesion{% endblock %}

{% block content %}
    <div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 rounded-xl">
        <h1 class="mb-6 text-3xl">Iniciar Sesion</h1>
        <form action="." method="post">
            {% csrf_token %}
            
            <div class="mb-3">
                <label for="" class="inline-block mb-2">Usuario</label><br>
                {{form.username}}
            </div>
            <div class="mb-3">
                <label for="" class="inline-block mb-2">Contraseña</label><br>
                {{form.password}}
            </div>
        
            {% if form.errors or form.non_field_errors %}
                <div class="mb-3 p-6 bg-red-100 rounded-xl">
                    {% for field in form %}
                        {{field.errors}}
                    {% endfor %}
                    {{form.non.fields_errors}}
                </div>
            {% endif %}
            
            <div class="text-center">
                <button class="py-4 px-8 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white">
                    Ir
                </button>
            </div>
        </form>
    </div>
{% endblock %}